<div class="preview">
  <img ngSrc="./assets/books/the-bagpipes.webp"
       class="book"
       alt="The Bagpipes Book Cover"
       height="453"
       width="302"/>

  <div class="isbn">
    <img src="assets/icons/isbn.svg" alt="ISBN Icon" />
    978-1805262848
  </div>
</div>

<div class="details">
  <div class="coming-soon">
    This book is coming 24th of April 2025.
  </div>

  <div class="overview">
    <h2>The Bagpipes</h2>
    <h3>A Cultural History</h3>

    <p>History’s first named bagpiper is a man playing a pipe ‘with a bag tucked under his armpit’ in the first century
      CE. He was the Roman Emperor Nero. Since then, this improbable conflation of bag and sticks has become the world’s
      most beloved and contested instrument. Another piping emperor, Tsar Peter the Great, decided that his departed pet
      bear would live on—as a bagpipe.</p>
    <p>This vivid history tells the long story of an instrument boasting over 130 varieties, yet commonly associated
      with just one, from one country: Scotland’s Great Highland Bagpipe. In fact, the pipes are played across the
      globe, illuminating societies in remarkable, unexpected ways. Richard McLauchlan charts the rise of women pipers;
      investigates class, privilege and capitalism in the piping world; and explores how a ‘national instrument’ can
      shift in meaning amidst the currents of identity.</p>
    <p>The vibrancy and inventiveness of today’s pipers showcase the allure of this fabled, fascinating instrument, to
      which McLauchlan is our surefooted guide.</p>

    <h2>Reviews</h2>
    <p>‘Richly entertaining and perceptive. A revelation for pipers like me, and for anyone interested in how an
      instrument can transform culture.’ — Alastair Campbell, author of <em>But What Can I Do?</em> and co-host of <em>The
        Rest Is Politics</em></p>
    <p>‘Historically insightful and full of character. Richard has captured the essence and beauty of piping’s vibrant
      culture with historical, musical and characterful insight.’ — Finlay MacDonald, world-renowned piper and
      composer</p>
    <p>‘With infectious enthusiasm for his subject, Richard McLauchlan traces the cultural significance of the bagpipes
      across the globe and over many centuries. His multi-storied and learned account reveals the bagpipes’ history to
      be just as intricate and variegated as the most complex <i>piobaireachd</i>/pibroch tunes showcased by its
      virtuosi practitioners.’ — Clare Jackson, author of <i>Devil-Land: England under Siege 1588-1688</i></p>
  </div>
  
  <div class="buy">
    <a class="buy-link amazon"
       href="https://www.amazon.co.uk/Bagpipes-Cultural-History-Richard-McLauchlan/dp/180526284X"
       target="_blank"
       rel="noopener">
      <div><img src="./assets/icons/amazon.svg" alt="Amazon Logo"></div>
      <div>Pre-order on Amazon</div>
    </a>
    <a class="buy-link hurst"
       href="https://www.hurstpublishers.com/book/the-bagpipes/"
       target="_blank"
       rel="noopener">
      <div><img src="./assets/icons/hurst.svg" alt="Hurst Logo"></div>
      <div>Pre-order on Hurst</div>
    </a>
    <a class="buy-link hurst"
       href="https://www.waterstones.com/book/the-bagpipes/richard-mclauchlan/9781805262848"
       target="_blank"
       rel="noopener">
      <div><img src="./assets/icons/waterstones.svg" alt="Waterstones Logo"></div>
      <div>Pre-order on Waterstones</div>
    </a>
    <a class="buy-link hurst"
       href="https://uk.bookshop.org/p/books/the-bagpipes-a-cultural-history-richard-mclauchlan/7753316?ean=9781805262848"
       target="_blank"
       rel="noopener">
      <div><img src="./assets/icons/bookshop.png" alt="Bookshop Logo"></div>
      <div>Pre-order on Bookshop.org</div>
    </a>
  </div>
</div>