<div class="preview">
  <img ngSrc="./assets/books/the-indefinable-school.webp"
       alt="The Indefinable School Book Cover"
       height="473"
       width="302"/>
</div>

<div class="details">
  <div class="coming-soon">
    This book is coming 4th of September 2025.
  </div>

  <div class="overview">
    <h2>The Indefinable School</h2>
    <h3>The Story of Edinburgh Academy 1974-2024</h3>

    <p>In 1974, to mark The Edinburgh Academy’s 150th anniversary, alumnus Magnus Magnusson released The Clacken and the
      Slate, a book which painted a vivid picture of a leading educational establishment, not only in Scotland but in
      the UK. This bold new history, released in the school’s 200th year, revisits and expands upon Magnusson’s account
      to tell a more far-reaching, more complex story.</p>

    <p>It is a tale of dramatic change, a tale of many endings: of corporal punishment, of boarding, of the English exam
      system. Beginnings, too, have been momentous: co-education, pastoral and curricular revolutions, life-changing
      100% bursaries. Arguably, the developments of the last fifty years have outweighed in significance the many
      changes of the first 150.</p>

    <p>It’s a story of light, but also of shade. Written at a time of intense public scrutiny about the school’s past,
      this book takes a hard and open look at an institution that has too often buried its secrets. Its pages give voice
      to the many experiences of its past pupils, from those enhanced to those diminished by it.</p>

    <p>But more than anything, what becomes clear is just how hard it is to put The Edinburgh Academy into a box. From
      its foundation in 1824 until today, this iconic school at the heart of Scotland’s capital remains indefinable.
      After 200 years, that indefinability is now the school’s superpower. Read this book to understand why.</p>
  </div>

  <div class="buy">
    <a class="buy-link amazon"
       href="https://www.amazon.co.uk/Indefinable-School-Edinburgh-Academy-1974-2024/dp/191535935X"
       target="_blank"
       rel="noopener">
      <img src="./assets/icons/amazon.svg" alt="Amazon Logo">Pre-Order on Amazon
    </a>
  </div>
</div>