@use "mixins" as *;
@use "variables" as *;

.icon-link-button {
  @include hoverable;
  @include shadowy;

  display: flex;
  border-radius: var(--border-radius);
  font-size: .8rem;
  box-shadow: var(--box-shadow);
  background-color: var(--color-hint);
  color: var(--color-white);
  overflow: hidden;

  @media screen and (min-width: $mobile-breakpoint) {
    display: inline-flex;
  }

  > div {
    @include center;
    justify-content: left;
    padding: .8rem;
  }

  > div:nth-of-type(1) {
    background-color: rgba(0, 0, 0, .2);
  }

  > div:nth-of-type(2) {
    flex: 1;
    @include center;
  }

  img {
    width: 22px;
    height: auto;
    vertical-align: middle;
  }

  &.amazon:hover {
    background-color: #ed6c2d;
  }

  &.hurst:hover {
    background-color: #2f318d;
  }

  &.waterstones:hover {
    background-color: #cc3957;
  }

  &.bookshop:hover {
    background-color: #573ba3;
  }

  &.spotify:hover {
    background-color: green;
  }
}
