<nav>
  <div class="wrapper">
    <div class="jumps">
      <a class="jump-books" href="#books" title="View my books">
        <img src="./assets/icons/books.svg"
             alt="Books icon"/>
      </a>
      <a class="jump-bio" href="#bio" title="Read my bio">
        <img class="bio-icon"
             ngSrc="./assets/richard-avatar.webp"
             alt="Bio icon"
             height="30"
             width="30" />
      </a>
      <a class="jump-contact" href="#contact" title="Contact me">
        <img src="./assets/icons/send.svg"
             title="Contact icon" />
      </a>
    </div>

    <div class="logo">
      <img alt="Richard McLauchlan Logo"
           ngSrc="./assets/logo-black.svg"
           height="70"
           width="503" />
    </div>

    <div class="socials">
      <a class="jump-books" href="#articles" title="View my articles">
        <img src="./assets/icons/articles.svg"
             alt="Books icon"/>
      </a>
      <a class="jump-books" href="#events" title="Upcoming Events">
        <img src="./assets/icons/events.svg"
             alt="Books icon"/>
      </a>
    </div>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="wrapper">
    <div class="legal">
      &copy; Copyright Richard McLauchlan
    </div>
    <img class="logo"
         ngSrc="./assets/logo.svg"
         alt="Richard McLauchlan Logo"
         height="70"
         width="503" />
  </div>
</footer>
