<nav>
  <div class="wrapper">
    <div class="jumps">
      <a class="jump-books" href="#books" title="View my books">
        <img src="./assets/icons/books.svg"
             alt="Books icon"/>
      </a>
      <a class="jump-bio" href="#bio" title="Read my bio">
        <img class="bio-icon"
             ngSrc="./assets/richard-avatar.webp"
             alt="Bio icon"
             height="30"
             width="30" />
      </a>
      <a class="jump-contact" href="#contact" title="Contact me">
        <img src="./assets/icons/send.svg"
             title="Contact icon" />
      </a>
    </div>

    <div class="logo">
      <img alt="Richard McLauchlan Logo"
           ngSrc="./assets/logo-black.svg"
           height="70"
           width="503" />
    </div>

    <div class="socials">
      <a href="https://www.hurstpublishers.com/profile/richard-mclauchlan/"
         class="social-hurst"
         target="_blank"
         rel="noopener"
         title="Go to my publishers bio page">
        <img class="hurst" src="./assets/icons/hurst.svg" alt="Hurst Publishing Logo" />
      </a>
      <a href=""
         title="Go to my Sub-stack"
         class="social-substack">
        <img class="substack" src="./assets/icons/substack.svg" alt="Sub-Stack Logo" />
      </a>
      <a href=""
         title="Go to my Bluesky"
         class="social-bluesky">
        <img class="bluesky" src="./assets/icons/bluesky.svg" alt="Bluesky Logo" />
      </a>
    </div>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="wrapper">
    <div class="legal">
      &copy; Copyright Richard McLauchlan
    </div>
    <img class="logo"
         ngSrc="./assets/logo.svg"
         alt="Richard McLauchlan Logo"
         height="70"
         width="503" />
  </div>
</footer>
