@use "../mixins" as *;
@use "../variables" as *;

nav {
  position: fixed;
  width: 100%;
  background-color: rgba(230, 230, 230, 0.89);
  backdrop-filter: blur(20px);
  top: 0;
  z-index: 999999999;

  .wrapper {
    display: flex;
    height: var(--nav-height);
    gap: 1rem;
  }

  .jumps,
  .logo,
  .socials {
    @include center;
  }

  .jumps,
  .socials {
    gap: 1rem;
    max-width: 130px;
    width: 100%;

    a {
      opacity: .7;

      &:hover {
        opacity: 1;
      }
    }

    img {
      width: 20px;
      height: 20px;

      @media screen and (min-width: $mobile-breakpoint) {
        width: 30px;
        height: 30px;
      }
    }

    &.jumps {
      justify-content: flex-start;

      .bio-icon {
        border-radius: 100%;
      }
    }

    &.socials {
      justify-content: flex-end;

      a {
        filter: grayscale(100) brightness(0%);

        &:hover {
          filter: none;
        }
      }

      img {
        width: 25px !important;
      }
    }

    .jump-bio,
    .jump-books {
      display: none;

      @media screen and (min-width: $mobile-breakpoint) {
        display: block;
      }
    }

    a {
      @include hoverable-large;
      transition: .3s all;
    }
  }

  .logo {
    @include center;
    flex: 1;

    img {
      max-width: 180px;

      @media screen and (min-width: $mobile-breakpoint) {
        max-width: 230px;
      }
    }
  }
}

footer {
  background-color: var(--color-black);
  color: white;

  .logo {
    max-width: 200px;
    margin-top: 1rem;
  }

  .legal {
    font-size: .8rem;
    opacity: .6;
  }
}