@use "../../../../../mixins" as *;
@use "../../../../../variables" as *;

:host {
  display: flex;
  background: white;
  flex-direction: column;
  border-radius: var(--border-radius);
  overflow: auto;

  @media screen and (min-width: 900px) {
    max-width: 1050px;
    max-height: 740px;
    flex-direction: row;
  }

  .preview {
    @include center;
    flex: 1;
    background: #ccc;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;

    @media screen and (min-width: 900px) {
      max-width: 450px;
      overflow: auto;
    }

    .isbn {
      opacity: .5;

      img {
        vertical-align: middle;
      }
    }

    .book {
      width: auto;
      max-height: 250px;
      box-shadow: var(--box-shadow);

      @media screen and (min-width: 900px) {
        max-width: 80%;
        height: auto;
        width: 100%;
        max-height: 100%;
      }
    }
  }

  .details {
    --side-padding: 2rem;

    @media screen and (min-width: $mobile-breakpoint) {
      --side-padding: 3rem;
    }

    flex: 3;
    display: flex;
    flex-direction: column;

    .coming-soon {
      color: var(--color-white);
      background-color: var(--color-hint);
      padding: 1rem var(--side-padding);
    }

    .overview {
      flex: 1;
      padding: 3rem var(--side-padding);
      overflow: auto;
    }

    .buy {
      background: rgba(0, 0, 0, .1);
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;
      gap: .5rem;

      @media screen and (min-width: $mobile-breakpoint) {
        flex-wrap: wrap;
        flex-direction: row;
      }

      .buy-link {
        @include hoverable;
        display: block;
        padding: .8rem 1.5rem;
        border-radius: var(--border-radius);
        font-size: .8rem;
        box-shadow: var(--box-shadow);
        background-color: var(--color-black);
        color: var(--color-white);

        @media screen and (min-width: $mobile-breakpoint) {
          display: inline-block;
        }


        img {
          max-height: 25px;
          max-width: 60px;
          height: auto;
          vertical-align: middle;
          margin-right: .5rem;
        }
      }
    }

    h2 {
      margin-top: 0;
    }

    h3 {
      font-weight: normal;
      opacity: .6;
    }
  }
}