<div class="preview">
  <img ngSrc="./assets/books/serious-minds.webp"
       class="book"
       alt="Serious Minds Book Cover"
       height="450"
       width="302" />

  <div class="isbn">
    <img src="./assets/icons/isbn.svg" alt="ISBN Icon" />
    978-1787387928
  </div>
</div>

<div class="details">
  <div class="overview">
    <h2>Serious Minds</h2>
    <h3>The Extraordinary Haldanes of Cloan</h3>

    <p><em>The Times</em> hailed Richard Burdon Haldane as ‘one of the most powerful … intellects’ British statesmanship
      had ever seen. His brother John, a great physiologist, invented the first gas masks used in World War One. Their
      sister Elizabeth was among the first women to become a senior public servant. Their mother Mary, friend and
      advisor to top politicians and churchmen, nurtured these exceptional minds.</p>
    <p>Mary’s grandchildren swapped her traditional roots for radical socialism, but continued the brilliant family
      legacy. Naomi Mitchison was a doyenne of Scottish literature; one Nobel prizewinner called her brother, the
      geneticist J.B.S. Haldane, ‘the cleverest man I ever knew’. Like the Darwins and Keyneses, this clan of thinkers
      lived in rapidly changing times, and helped to remake the world around them.</p>
    <p>Drawing on extensive family interviews and previously unseen private papers, <em>Serious Minds</em> details
      scandal, tragedy and achievement within a dynasty that shaped modern Britain–from the welfare state, education
      system and military, to our understanding of energy, the human body, and the origins of life itself.</p>

    <h2>Reviews</h2>

    <p>‘The Haldane family is a phenomenon to this day. . . Now their achievements have been
      chronicled by Richard McLauchlan, whose book <em>Serious Minds</em> charts their astonishing range. . .
      Remarkable.’ — <em>The Times</em></p>
    <p>‘In this ambitious biography Richard McLauchlan looks back over two centuries and explores the Haldane family’s
      influence on British law, politics, science and social welfare. . . . McLauchlan tells their stories with verve.’
      — <em>TLS</em></p>
    <p>‘[A] riveting biography.’ — <i>Morning Star</i></p>
    <p>‘Superbly researched … this excellent family history effortlessly weaves its way through
      two centuries of societal change.’ — <em>Who Do You Think You Are</em><em>? M</em><em>agazine</em></p>
    <p>‘Lucid and witty, and… based on impressive new scholarship… this excellent book is also a threnody for a Scotland
      that has irrecoverably passed.’ — <i>Scottish Affairs</i></p>
    <p>‘A refreshing and very stimulating read, covering a vast canvas in an effortless way.’ — Sir Anthony Seldon,
      British political biographer</p>
    <p>‘An engaging and uplifting account of one of Britain’s greatest intellectual dynasties.’ — Brendan Simms,
      Professor of the History of International Relations, University of Cambridge, and author of <em>Britain’s
        Europe</em></p>
    <p>‘A story that needed telling: the achievements of the extraordinary and eccentric Haldane family are woven into
      the past two centuries of British history.’ — Sir Roderic Lyne, former British Ambassador to Russia</p>
    <p>‘Richard McLauchlan revives with gusto the rich connected stories of this extraordinary family. A wonderful
      weaving together of so many brightly coloured threads.’ — Sir Tim Hitchens, President of Wolfson College,
      University of Oxford</p>
    <p>‘A great read. The female Haldanes in particular are an object lesson in what women can achieve, whatever
      obstacles are put in their way, yet also of how higher education transformed possibilities for women in the course
      of just a few generations.’ — Alison Rose, Principal of Newnham College, University of Cambridge</p>
    <p>‘Lively, interesting, and very well researched, weaving together a tapestry of anecdote and achievement, full of
      life’s colour and texture.’ — Peter Mandler, Professor of Modern Cultural History, University of Cambridge</p>

  </div>

  <div class="buy">
    <a class="buy-link amazon"
       href="https://www.amazon.co.uk/Serious-Minds-Extraordinary-Haldanes-Cloan/dp/1787387925/"
       target="_blank"
       rel="noopener">
      <img src="./assets/icons/amazon.svg" alt="Amazon Logo">Buy on Amazon
    </a>
    <a class="buy-link hurst"
       href="https://www.hurstpublishers.com/book/serious-minds/"
       target="_blank"
       rel="noopener">
      <img src="./assets/icons/hurst.svg" alt="Hurst Logo">Buy on Hurst
    </a>
  </div>
</div>